body{
    font-family: 'Roboto', sans-serif;
}



.top_section{
    padding-top: 50px;
}
.first_half{
    width: 40%;
    padding: 0px 0px 0px 60px;
    float: left;

}
.first_half p{
    
    font-size: smaller;
    font-weight: 100;
    width: 250px;
    margin-top: 0px;

}
.first_half h1{
    color: #363958;
    font-size:xx-large;

}
.name_highlit{
    color: #ff8367;
    font-weight: 800;
}
.secend_half{
    width: 45%;
    float: left;
    
}
.secend_half img{
    width: 100%;
    height: auto;
}
.first_half button {
    width: 110px;
    height: 30px;
    border-radius: 5px;
    background-color: coral;
    border: none;
  }
  .first_half a {
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: 900;
  }
.middle_section{
    margin-left: 25px;
}

  #last{
    margin-top: 85px;
    margin-left: 40px;
  }
  #last h2{
      color: #363958;
  }
  #last p{
      color:  #363958;
  }
  #last button{
      width: 130px;
  }
  #last a {
      font-size: initial;
      font-weight: 500;
  }


/* working project section start */
.last_pera{
    color: blue;
}